/* Body Styles
body>header>nav {
    display: table;
    width: 100%;
}

body>header>nav>ul {
    display: table-row;
}

body>header>nav>ul>li {
    display: table-cell;
    text-align: center;
}

body>header>nav>ul>li>a {
    display: block;
    width: 100%;
}


body>nav {
    width: 100%;
    float: left;
} */
body>header>nav {
    display: table;
    width: 100%;
}

.column {
    float: left;
    width: 45%;
    padding: 15px;
    text-align: center;
    background-color: brown
}

.column2 {
    float: right;
    width: 45%;
    padding: 15px;
    text-align: center;
    background-color: brown
}

.column ul li {
    list-style-type: none;
}

.column2 ul li {
    list-style-type: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* Heading Styles */
h2 {
    font-size: 1em;
    padding-left: 10px;
}

