/* Body Styles */
body {
    align-content: center
}


/* Nav styles*/
header {
    padding: 0px;

}

header nav {
    display: table;
    width: 100%;
    align-content: center;

}

header nav>ul {
    display: table-row;
    align-content: center;
}

header nav>ul>li {
    display: table-cell;
    text-align: center;


}

header nav ul li a {
    text-decoration: none;

}