html {
    background-color: #69D1C5;
}

body {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}



/* Nav Styles */
header nav {
    background-color: #69D1C5;
}

header nav ul li a {
    text-decoration: none;
    background-color: #1B9AAA;
    padding: 5% 0% 5% 0%;
}

header nav ul li a:link,
header nav ul li a:visited {
    color: black;
}

header nav ul li a:hover,
header nav ul li a:active {
    background-color: #59D2FE;
    color: #fdfffc;
}


/* Section Styles */
h2 {
    text-align: center;
}

h1 {
    text-align: center
}

section#col1 p {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    padding-top: 5px;
}

section#col1 p:first-of-type,
section#col1 p::first-letter {
    tab-size: 14px;
}

img {
    padding-left: 25%
}