html {
    background-color: #bebebe;
}

body {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}



/* Nav Styles */
header nav {
    background-color: #fdfffc;
}

header nav ul li a {
    text-decoration: none;
    background-color: #fdfffc;
}

header nav ul li a:link,
header nav ul li a:visited {
    color: black;
}

header nav ul li a:hover,
header nav ul li a:active {
    background-color: #bebebe;
    color: #fdfffc;
}


/* Section Styles */