html {
    background-color: #bebebe;
}

body {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}



/* Nav Styles */
header nav {
    background-color: #fdfffc;
}

header nav ul li a {
    text-decoration: none;
    background-color: #fdfffc;
}

header nav ul li a:link,
header nav ul li a:visited {
    color: black;
}

header nav ul li a:hover,
header nav ul li a:active {
    background-color: #bebebe;
    color: #fdfffc;
}


/* Section Styles */
section#col1 ul li {
    padding-left: 5px;
    padding-top: 10px;
    list-style-type: upper-roman;
    text-align: center;
    list-style-position: inside;
}

section#col1 {
    background-color: #add8e6; 
    text-align: center;

}


section#col2 {
    background-color: #add8e6;
    text-align: center;
}

section#col2 ul li {
    padding-left: 5px;
    padding-top: 10px;
    list-style-type: upper-roman;
}

/* Heading Styles */
h2 {
    font-size: 1em;
    padding-left: 10px;
}