html {
    background-color: #1B9AAA;
}

body {
    background-color: #69D1C5;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}



/* Nav Styles */
header nav {
    background-color: #84BCDA;
}

header nav ul li a {
    text-decoration: none;
    background-color: #5386E4;
}

header nav ul li a:link,
header nav ul li a:visited {
    color: #59D2FE;
}

header nav ul li a:hover,
header nav ul li a:active {
    background-color: #2DC7FF;
    color: #0081AF;
}


/* Section Styles */
section#col1 ul li {
    padding-left: 5px;
    padding-top: 10px;
    list-style-type: upper-roman;
    text-align: center;
    list-style-position: inside;
}

section#col1 {
    background-color: #01BAEF;
    text-align: center;

}


section#col2 {
    background-color: #E26874;
    text-align: center;
}

section#col2 ul li {
    padding-left: 5px;
    padding-top: 10px;
    list-style-type: upper-roman;
}

/* Heading Styles */
h2 {
    font-size: 1em;
    padding-left: 10px;
}